@tailwind base;
@tailwind components;
@tailwind utilities;

#seat.selected{
    background-color: rgb(10, 228, 28);
}
#seat.reserved{
    background-color: aliceblue;
}
#seat:nth-of-type(2){
    margin-right: 20px;
}
#seat:nth-last-of-type(2){
    margin-left: 20px;
}
#seat:not(.reserved):hover{
    cursor: pointer;
    scale: 120%;
}
